.eachSlide > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eachSlide > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.eachSlide span {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background: #00000091;
  text-align: center;
}

/* Use the following if you want to display half and image on one slide
and the other half on the next 
span {
  padding: 50%;
}
*/
