.loadingBgContainer {
  /*Color of empty div container*/
  background: #131313;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
}

.prevArrowContainer {
  display: none;
  position: absolute;
  padding: 0.6%;
  left: 1%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.prevArrow {
  fill: #ff0000;
  opacity: 0.8;
}

.nextArrowContainer {
  display: none;
  position: absolute;
  padding: 0.6%;
  right: 1%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: rotate(180deg);
}

.nextArrow {
  fill: #ff0000;
  opacity: 0.8;
}

.bgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.eachSlide > div img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*Removed z-index from here */
  /*This background sets the color of the container when the image has not loaded yet, provided there is no enclosing 
  container whose bg color has been set. In our case, we do have an enclosing container and hence this property shall not be applied */
  background: #000000a2;
}

.tint {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000050;
  animation: fadeOutImg 0.5s forwards;
}

.tint h1 {
  margin: 0;
  font-size: 1.2rem;
  color: rgb(230, 230, 230);
  text-align: center;
  width: 100%;
  padding: 50% 0 50% 0;
  background: #0000007a;
}

/* Refer: https://stackoverflow.com/questions/2837440/css-border-left-50-height/#answer-21338562 to know an alternative */

@media screen and (hover: hover) {
  .nextArrowContainer,
  .prevArrowContainer {
    display: block;
  }

  .prevArrowContainer:hover {
    cursor: pointer;
    background: rgb(0, 0, 0, 0.5);
  }

  .prevArrowContainer:hover .prevArrow {
    animation: fadeIn 0.5s forwards;
  }

  .nextArrowContainer:hover {
    cursor: pointer;
    background: rgb(0, 0, 0, 0.5);
  }

  .nextArrowContainer:hover .nextArrow {
    animation: fadeIn 0.5s forwards;
  }

  .bgContainer:hover .tint {
    animation: fadeInImg 0.5s forwards;
  }
}

@keyframes slider {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInImg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* Use the following if you want to display half and image on one slide
and the other half on the next  */
