.main {
  padding: 4% 3% 3%;
  background-color: #f7f7f7;
  margin: 0 auto;
  width: 80%;
  animation: fadein 1.2s;
}

.downloadFile {
  padding: 1rem;
  background-color: #b22222;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.main a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #747474;
  font-weight: 400;
  margin: 2rem 0;
}

.main a:hover {
  color: #b22222;
  fill: #b22222;
}

.main p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.main h1 {
  padding: 0.5rem;
  font-size: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-left: 6px ridge #b22222;
  color: rgb(116, 116, 116);
}

.introContainer h2 {
  color: white;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7e7e7;
  border: 0 none;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.iconContainer h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.franchiseContainer {
  margin: 4rem 0;
}

.linkIcon {
  margin-right: 1rem;
  height: 30px;
  width: 30px;
}

.franchiseIcon {
  margin-right: 1rem;
  height: 60px;
  width: 60px;
}

.founderContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1rem;
  transition: transform 0.2s;
}

.founderContainer:hover {
  transform: scale(1.1);
}

.founderContainer p {
  margin: 1rem;
  text-align: center;
}

.horizontalDivider {
  display: flex;
  align-items: center;
  height: 150px;
}

.foundersListContainer {
  margin: 10rem 0 0;
}

.foundersAvatarList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.invisible {
  visibility: hidden;
}

@keyframes slideIn {
  from {
    transform: translate(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contactContentContainer {
  width: 80%;
  margin: 5rem auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 960px) {
  .main {
    max-width: 992px;
  }

  .slideIn {
    visibility: visible;
    animation: slideIn 1s;
  }
}
