.main {
  padding: 4% 3% 3%;
  background-color: #f7f7f7;
  margin: 0% auto;
  width: 80%;
  animation: fadein 2.3s;
}

h1 {
  font-size: 1.2rem;
  color: rgb(116, 116, 116);
}

.introContainer h2 {
  color: white;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7e7e7;
  border: 0 none;
}

.founderContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.founderContainer p {
  margin: 0;
  text-align: center;
}

.horizontalDivider {
  display: flex;
  align-items: center;
  height: 150px;
}

.foundersListContainer {
  margin: 10rem 0 0;
}

.foundersAvatarList {
  display: flex;
  justify-content: space-around;
}

.invisible {
  visibility: hidden;
}

.slideIn {
  visibility: visible;
  animation: slideIn 1s;
}

@keyframes slideIn {
  from {
    transform: translate(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contactContentContainer {
  width: 80%;
  margin: 5rem auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 960px) {
  .main {
    max-width: 992px;
  }
}
