/*Setting width on .logoContainer is of no use since the width is determined by the flex container and hence only height matters */

.logoContainer {
  flex: 8;
}

.logo {
  margin: 0.5rem;
  height: 4rem;
}
