nav {
  flex: 2;
}

/* Making it inline-block is necessary. Otherwise, the drop down expands to the whole width of available space created
by flex and hovering on the empty space to the right of the menu icon brings down the menu, which is not our desired requirement */

.dropdown {
  display: flex;
  align-items: center;
  height: 84px;
}

.dropbtn {
  fill: #fff;
  padding: 0;
  /*this width is necesary. Otherwise, svg will not have a defined width limit and hence the parent 'dropdown' container will end up taking no space.
  Having a fixed unit is necessary here*/
  height: 22px;
  width: 70px;
}

.dropdownContent {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

.dropdownContent a {
  flex: 1;
  padding: 12px;
  text-align: center;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdownContent a:active {
  background-color: #b2222273;
  color: #fff;
}

nav ul {
  list-style: none;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin: 0 1rem;
}

/*Styling is not added for li elements by either making then flex:1 or setting a fixed width since, that will
prevent <a> elements from having hover just under the text width they are defined for, 
since otherwise the on hover effect of <a>  would be applicable to the fixed of parent li*/

nav ul a {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

nav ul a::after {
  display: block;
  content: "";
  border-bottom: solid 3px#b22222;
  transform: scaleX(0);
  transition: transform 100ms ease-out;
}

nav ul a:hover::after {
  transform: scaleX(1);
}

@media (hover: hover) and (pointer: fine) {
  .dropdown:hover .dropdownContent {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  nav ul {
    display: flex;
  }

  nav {
    flex: 6;
  }

  .dropdown {
    display: none;
  }
}
@media screen and (min-width: 1350px) {
  nav {
    flex: 3;
  }
}
