.container {
  visibility: hidden;
}

.slideIn {
  visibility: visible;
  animation: slideIn 1s;
}

.icon {
  height: 30px;
  width: 30px;
  fill: maroon;
  margin-right: 1rem;
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

.mapContainer {
  display: flex;
  justify-content: center;
}

.frame {
  width: 100%;
  height: 200px;
  border-radius: 2%;
}

.socialContainer {
  margin-top: 4rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.socialContainer p {
  margin-right: 0.5rem;
}

@keyframes slideIn {
  from {
    transform: translate(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    height: 20px;
    width: 20px;
    fill: maroon;
    margin-right: 0.8rem;
  }
  .itemContainer {
    font-size: 0.9rem;
  }
}
