.footer {
  background: #131313;
  /* background-color: #0d3d74; */
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.5);
}

.credits {
  font-size: 0.9rem;
}

.credits a {
  text-decoration: none;
  color: #d16b6b;
}

.credits a:hover {
  color: #b22222;
}
