html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: url("assets/bg-3.png");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Kumbh Sans", sans-serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
